<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.nux2.domain.expenditure.mapper.ExpenditureMapper">
    <select id="findAllExpenditures" parameterType="map" resultType="kr.or.kosa.nux2.domain.expenditure.dto.ExenditureDto$Response">
        select
            expenditure_amount as expenditureAmount,
            expenditure_category_name as expenditureCategoryList
        from
            expenditure_history eh
            join
                expenditure_category ec
            on eh.expenditurecategory_id = ec.expenditure_category_id
        where
            member_id = #{memberId}
    </select>



    <resultMap id="expenditureDetailsMap" type="kr.or.kosa.nux2.domain.expenditure.dto.ExenditureDto$DetailsResponse">
        <result property="expenditureId" column="card_product_id"/> <!-- property는 도메인 클래스의 멤버변수명과 일치, column은 테이블의 컬럼명과 일치 -->
        <result property="cardCompanyId" column="card_company_id"/>
        <result property="cardName" column="card_product_name"/>
        <result property="cardImageFileName" column="card_product_image"/>
        <result property="membershipFee" column="membership_fee"/>
        <result property="benefitSummary" column="benefit_summary"/>
        <result property="likeCount" column="likeCount"/>
        <collection property="benefitCategoryList" column="benefit_code_id"  resultMap="categoryListResultSumm">

        </collection>
    </resultMap>
    <select id="findAllExpenditureDetails" parameterType="map" resultType="kr.or.kosa.nux2.domain.expenditure.dto.ExenditureDto$DetailsResponse">
        select
            ehd.expenditure_memo,
            (select sum(expenditure_amount) from expenditure_history where to_char(expenditure_datetime, 'YYYY-MM-DD') between '2024-05-01' and '2024-05-02') as expenditureTotalAmount
        from
            expenditure_history eh
            join
            expenditure_history_dts ehd
        on eh.expenditure_history_id = ehd.expenditure_history_id
            where member_id = #{member_id}
            and <![CDATA[expenditure_datetime <= #{startdate}]]>
            and <![CDATA[expenditure_datetime >= #{enddate}]]>
<!--
 select (select sum(expenditure_amount) from expenditure_history WHERE TO_CHAR(expenditure_datetime, 'YYYY-MM-DD') BETWEEN '2024-05-01' AND '2024-05-02') as s
from
expenditure_history eh
join
expenditure_history_dts ehd
on eh.expenditure_history_id = ehd.expenditure_history_id
where member_id = 'dnwo1111'
and expenditure_datetime <= '2024-05-02'
and expenditure_datetime >='2024-05-01';-->
    </select>
</mapper>