<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.nux2.domain.memberexpendituretend.mapper.MemberExpenditureTendMapper">
    <select id="findMemberExpenditureTendMapper" parameterType="map" resultType="kr.or.kosa.nux2.domain.memberexpendituretend.dto.MemberExpenditureTendDto$ServiceResponse">
        select
            expenditure_tend_id as expenditureTendencyId,
            expenditure_tend as memberExpenditureTendency
        from
            member_expenditure_tend
        where
            member_id = #{memberId}
            and
            update_code = #{updateCode}
    </select>
</mapper>