<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.nux2.domain.member.mapper.MemberMapper">

    <select id="findById" parameterType="String" resultType="kr.or.kosa.nux2.domain.member.dto.MemberDto$UserDto">
        select
        member_id memberId,
        member_password memberPassword,
        provider provider,
        role role,
        social_token socialToken
        from
        member1
        where
        member_id = #{memberId}
    </select>
    <insert id="insertOAuthMember" parameterType="kr.or.kosa.nux2.domain.member.dto.MemberDto$UserDto" >
        insert into member1 (member_id,member_name, role, provider,social_token,status)
        values (#{memberId},#{memberName},#{role},#{provider},#{socialToken},#{status})
    </insert>
    <update id="updateSocialToken" parameterType="kr.or.kosa.nux2.domain.member.dto.MemberDto$UpdateSocialTokenRequest">
        update member1
        set social_token = #{socialToken}
        where member_id = #{memberId}
    </update>
    <insert id="insertMember" parameterType="kr.or.kosa.nux2.domain.member.dto.MemberDto$SignInRequest" >
    insert into member1 (member_id,member_name, member_password, target_expenditure,role)
    values (#{memberId},#{memberName},#{memberPassword},#{targetExpenditure},#{role})
    </insert>
    <select id="isExistMemberId" parameterType="kr.or.kosa.nux2.domain.member.dto.MemberDto$MemberIdRequest" resultType="boolean">
        SELECT CASE
        WHEN EXISTS (
        SELECT 1 FROM member1 WHERE member_id = #{memberId}
        ) THEN 1
        ELSE 0
        END AS member_id_exists
        FROM DUAL
    </select>
    <select id="selectMemberDetail" parameterType="kr.or.kosa.nux2.domain.member.dto.MemberDto$MemberIdRequest" resultType="kr.or.kosa.nux2.domain.member.dto.MemberDto$ProfileResponse">
        select
            member_id memberId,
            member_name memberName,
            target_expenditure targetExpenditure
        from member1
        where
            member_id = #{memberId}

    </select>

</mapper>