<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.nux2.domain.registrationcard.mapper.RegistrationCardMapper">
    <select id="findAllRegistrationCardByMemberId" parameterType="String" resultType="kr.or.kosa.nux2.domain.registrationcard.dto.RegistrationCardDto$Response">
        select
            card_id as cardId,
            card_company_id as cardCompanyName,
            card_number as cardNumber,
            card_nickname as cardNickName
        from
            registered_card
        where
            member_id = #{memberId}
    </select>


    <insert id = "insertRegistrationCard" parameterType="kr.or.kosa.nux2.domain.registrationcard.dto.RegistrationCardDto$InsertRequest">
        insert into registered_card(reg_card_id, member_id, card_company_id, card_number, card_nickname)
        values(#{cardId}, #{memberId}, #{cardCompanyId}, #{cardNumber}, #{cardNickName})
    </insert>

    <delete id="deleteRegistrationCard" parameterType="int">
        delete
        from
            registered_card
        where
            reg_card_id = #{registeredCardId}
    </delete>
</mapper>