<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{/js/header.js}" defer></script>
    <script src="https://kit.fontawesome.com/e2b1540441.js" crossorigin="anonymous" defer></script>
    <div class="header">
        <input class="" type="text" placeholder="검색해주세요">
        <div class="hd_user_info">
            <p class="hd_user_name">이눅스님</p>
            <p class="hd_user_email">hello@2nux.com</p>
        </div>
        <img class="hd_user_image" th:src="@{/img/common/user_image.png}" alt="user_image">
    </div>
</html>