<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <script type="module" th:src="@{/js/sidemenubar.js}" defer></script>
    <script src="https://kit.fontawesome.com/e2b1540441.js" crossorigin="anonymous" defer></script>
    <div class="side_menubar">
        <a href="cardlist">
            <div class="side_main_logo">
                <P class="side_word"><span class="side_purple">W</span>hat's</P>
                <P class="side_word"><span class="side_purple">I</span>n My</P>
                <P class="side_word"><span class="side_purple">W</span>allet</P>
            </div>
        </a>

        <div class="side_main_menu">메인 메뉴</div>
        <a href="cardlist">
            <div class="side_menu side_cardlist">
                <i class="fa-solid fa-house"></i>
                <p class="side_menu_word">카드리스트</p>
            </div>
        </a>
        <a href="history">
            <div class="side_menu side_history">
                <i class="fa-solid fa-calendar"></i>
                <p class="side_menu_word">소비내역</p>
            </div>
        </a>
        <a href="suggestion">
            <div class="side_menu side_suggestion">
                <i class="fa-solid fa-bolt"></i>
                <p class="side_menu_word">카드추천</p>
            </div>
        </a>
        <a href="analyze">
            <div class="side_menu side_analyze">
                <i class="fa-sharp fa-solid fa-chart-simple"></i>
                <p class="side_menu_word">성향분석</p>
            </div>
        </a>
        <a href="profile">
            <div class="side_menu side_profile">
                <i class="fa-solid fa-circle-user"></i>
                <p class="side_menu_word">마이페이지</p>
            </div>
        </a>
    </div>
</html>