@font-face {
    font-family: 'WooridaumB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BCcardB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.1/BCcardB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    /*font-family: 'WooridaumB';*/
    font-family: 'BCcardB';
    /*font-family: 'paybooc-Bold';*/
    margin: 0px;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #ECECEE;
}

a{
    text-decoration-line: none;
}

.background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35vh;
    width: 110%;
    z-index: -1;
    background-image: url('../img/common/backgroundpart.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.side_menubar{
    height: 100vh;
    width: 280px;
    position: absolute;
    left: 0;
    padding: 20px 1px 20px 0;
    border-radius: 0 40px 40px 0;
    background-color: #3B3A45;
}

.side_main_logo{
    font-size: 22px;
    font-weight: 900;
    color: white;
    margin: 0 0 50px 30px;
    cursor: pointer;
}

.side_purple{
    color: #AFA5FF;
}

.side_word{
    letter-spacing: 1px;
}

.side_main_menu{
    color: white;
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 20px 30px;
}

.side_menu{
    padding: 10px 0 10px 17px;
    border-radius: 15px;
    margin: 0 8px 10px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fa-solid{
    color: white;
    font-size: 16px;
    width: 25px;
    margin-right: 20px;
}

.side_menu_word{
    color: white;
    font-size: 18px;
}

.side_menu:hover{
    background-color: white;
}

.side_menu:hover .fa-solid{
    color:  #3B3A45;
}

.side_menu:hover .side_menu_word {
    color: #3B3A45;
    font-weight: 900;
}

.clicked_side_menu{
    background-color: white;
}

.clicked_fa-solid{
    color:  #3B3A45;
}

.clicked_side_menu_word{
    color: #3B3A45;
    font-weight: 900;
}

.header{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #717579;
}

.hd_search_wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

#hd_card_search{
    height: 45px;
    width: 280px;
    font-size: 12px;
    border: 2px solid #717579;
    outline: none;
    border-radius: 30px;
    background-color: transparent;
    padding: 10px 20px;
    margin-right: 20px;
}

.hd_search_image{
    position: absolute;
    right: 10px;
    color: #717579;
    cursor: pointer;
}

.hd_card_search:focus{
    border: 2px solid #9288DD;
}

.focusing{
    color: #9288DD;
}

.hd_user_info{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
}

.hd_user_name{
    font-weight: 900;
    font-size: 18px;
}

.hd_user_email{
    font-size: 15px;
}

.hd_user_image{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 60px;
    cursor: pointer;
}

