<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    <th:block layout:fragment="head">
        <link th:href="@{/css/analyze.css}" rel="stylesheet" />
        <link th:href="@{/css/common.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/js/analyze.js}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </th:block>
    <body>
    <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
    <th:block layout:fragment="sidemenubar" th:include="@{/fragments/sidemenubar}"></th:block>

    <div class="container">
        <div class="section section_up">
            <div class="title">나의 소비MBTI</div>
            <img class="mbti_image" th:src="@{/img/analyze/mbti1.png}" alt="mbti1">

            <div class="content_box">
                <div class="content time_content">
                    <p class="expense_type">밤시간대 지출자</p>
                    <p class="type_description">6:00 ~ 12:00</p>
                    <p class="type_description">지출 횟수가 30회 이상이시군요!</p>
                </div>
                <div class="content price_content">
                    <p class="expense_type">저각형 소비형</p>
                    <p class="type_description">한달 소비 지출이 35만원이시군요!</p>
                    <p class="type_description">목표 지출금액보다 15만원 절약하셨어요</p>
                </div>
            </div>

        </div>

        <div class="section section_down">
            <div class="chart">
                <p class="chart_title">이번달 시간대별 지출금액</p>
                <div class="time_chart_wrapper">
                    <div class="time_chart"></div>
                </div>
            </div>
            <div class="chart">
                <p class="chart_title">월 평균 지출금액</p>
                <div class="price_chart_wrapper">
                    <div class="price_chart"></div>
                </div>
            </div>
        </div>

    </div>
    </body>
</html>`