<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    <th:block layout:fragment="head">
        <link th:href="@{/css/cardlist.css}" rel="stylesheet" />
        <link th:href="@{/css/common.css}" rel="stylesheet" />
        <script type="module" th:src="@{/js/utils.js}" defer></script>
        <script type="module" th:src="@{/js/api/card.js}" defer></script>
        <script type="module" th:src="@{/js/cardlist.js}" defer></script>
        <script src="https://kit.fontawesome.com/e2b1540441.js" crossorigin="anonymous" defer></script>
    </th:block>
    <body>
        <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
        <th:block layout:fragment="sidemenubar" th:include="@{/fragments/sidemenubar}"></th:block>
        <div class="container scrollBar">

            <div class="favorite-card-title">
                <img id="favorite-card-title-img" src="/img/cardlist/What’s%20Our%20Favorite%20Card%20Top6.png">
                <div class="favorite-card-info">(좋아요 많은순)</div>
            </div>

            <div class="favorite-card-list">
<!--                <div class="favorite-list">-->
<!--                    <img class="favorite-card-list-img" src="/img/cardlist/card1.png">-->
<!--                    <div class="favorite">신한카드</div>-->
<!--                </div>-->
            </div>

            <div class="card-info-list">
<!--                <div class="card-list">-->
<!--                    <img class="image-19" src="/img/cardlist/card1.png" />-->
<!--                    <div class="card-text-info">-->
<!--                        <div class="card-title"> 디지로카 London </div>-->
<!--                        <div class="benefit-info">-->
<!--                            <div class="card-info"> 국내 모든 가맹점 최대 1.7%캐시백 </div>-->
<!--                            <div class="card-info"> 국내 2만원, 해외 2만원 </div>-->
<!--                            <div class="card-info"> 연회비지원, 납부혜택 </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <button class="add_card_list_btn" >더보기</button>
        </div>
    </body>
</html>