<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" >
    <th:block layout:fragment="head">
        <link th:href="@{/css/carddetail.css}" rel="stylesheet" />
        <link th:href="@{/css/common.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/js/carddetail.js}" defer></script>
    </th:block>
    <body>
    <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
    <th:block layout:fragment="sidemenubar" th:include="@{/fragments/sidemenubar}"></th:block>
    <div class="container">

        <div class="card-detail-container">
            <img class="image-9" src="/img/carddetail/image%209.png" />

            <div class="card-text-info">
                <div class="card-detail-title"> 디지로카 London </div>
                <div class="card-detail-info">
                    <div class="card-detail-info-text">
                        <div class="card-detail-text">공지</div>
                        <div class="card-detail-text">신규 연회비 100% 캐시백 이벤트</div>
                    </div>

                    <div class="card-detail-info-text">
                        <div class="card-detail-text">연회비</div>
                        <div class="card-detail-text">국내 2만원, 해외 2만원, 가족 1만3천원</div>
                    </div>

                    <div class="card-detail-info-text">
                        <div class="card-detail-text">기준실적</div>
                        <div class="card-detail-text">조건 없음</div>
                    </div>

                    <div class="card-detail-info-text">
                        <div class="card-detail-text">혜택요약</div>
                        <div class="card-detail-text">국내 모든 가맹점 최대 1.7%캐시백<br/>
                            최대 6개월 결제금액 나누기 혜택</div>
                    </div>
                </div>

                <button id="card-website-move">카드사 바로가기</button>

            </div>
        </div>


        <div class="card-info-list">
                <div class="card-list">
                    <img class="image-19" src="/img/carddetail/healthicons_money-bag-outline.svg" />

                    <div class="card-text-info">
                        <div class="card-title"> 연회비지원 </div>
                        <div class="benefit-info">
                            <div class="card-info"> 신규회원 연회비 100% 캐시백이벤트</br>
                                롯데카드 온라인 신청 특별 혜택 </div>
                        </div>
                    </div>
                </div>

                <div class="card-list">
                    <img class="image-19" src="/img/carddetail/healthicons_money-bag-outline.svg" />

                    <div class="card-text-info">
                        <div class="card-title"> 연회비지원 </div>
                        <div class="benefit-info">
                            <div class="card-info"> 신규회원 연회비 100% 캐시백이벤트</br>
                                롯데카드 온라인 신청 특별 혜택 </div>
                        </div>
                    </div>
                </div>

                <div class="card-list">
                    <img class="image-19" src="/img/carddetail/healthicons_money-bag-outline.svg" />

                    <div class="card-text-info">
                        <div class="card-title"> 연회비지원 </div>
                        <div class="benefit-info">
                            <div class="card-info"> 신규회원 연회비 100% 캐시백이벤트</br>
                                롯데카드 온라인 신청 특별 혜택 </div>
                        </div>
                    </div>
                </div>



                <div class="card-list">
                    <img class="image-19" src="/img/carddetail/healthicons_money-bag-outline.svg" />

                    <div class="card-text-info">
                        <div class="card-title"> 연회비지원 </div>
                        <div class="benefit-info">
                            <div class="card-info"> 신규회원 연회비 100% 캐시백이벤트</br>
                                롯데카드 온라인 신청 특별 혜택 </div>
                        </div>
                    </div>
                </div>

                <div class="card-list">
                    <img class="image-19" src="/img/carddetail/healthicons_money-bag-outline.svg" />

                    <div class="card-text-info">
                        <div class="card-title"> 연회비지원 </div>
                        <div class="benefit-info">
                            <div class="card-info"> 신규회원 연회비 100% 캐시백이벤트</br>
                                롯데카드 온라인 신청 특별 혜택 </div>
                        </div>
                    </div>
                </div>

                <div class="card-list">
                    <img class="image-19" src="/img/carddetail/healthicons_money-bag-outline.svg" />

                    <div class="card-text-info">
                        <div class="card-title"> 연회비지원 </div>
                        <div class="benefit-info">
                            <div class="card-info"> 신규회원 연회비 100% 캐시백이벤트</br>
                                롯데카드 온라인 신청 특별 혜택 </div>
                        </div>
                    </div>
                </div>



                <div class="card-list">
                    <img class="image-19" src="/img/carddetail/healthicons_money-bag-outline.svg" />

                    <div class="card-text-info">
                        <div class="card-title"> 연회비지원 </div>
                        <div class="benefit-info">
                            <div class="card-info"> 신규회원 연회비 100% 캐시백이벤트</br>
                                롯데카드 온라인 신청 특별 혜택 </div>
                        </div>
                    </div>
                </div>

                <div class="card-list">
                    <img class="image-19" src="/img/carddetail/healthicons_money-bag-outline.svg" />

                    <div class="card-text-info">
                        <div class="card-title"> 연회비지원 </div>
                        <div class="benefit-info">
                            <div class="card-info"> 신규회원 연회비 100% 캐시백이벤트</br>
                                롯데카드 온라인 신청 특별 혜택 </div>
                        </div>
                    </div>
                </div>

                <div class="card-list">
                    <img class="image-19" src="/img/carddetail/healthicons_money-bag-outline.svg" />

                    <div class="card-text-info">
                        <div class="card-title"> 연회비지원 </div>
                        <div class="benefit-info">
                            <div class="card-info"> 신규회원 연회비 100% 캐시백이벤트</br>
                                롯데카드 온라인 신청 특별 혜택 </div>
                        </div>
                    </div>
                </div>

        </div>

    </div>
    </body>
</html>