<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    <th:block layout:fragment="head">
        <link th:href="@{/css/history.css}" rel="stylesheet" />
        <link th:href="@{/css/common.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/js/history.js}" defer></script>
        <script type="text/javascript" th:src="@{https://dapi.kakao.com/v2/maps/sdk.js?appkey=a08fa71444d38274914841776a047866}"></script>
    </th:block>
    <body>
    <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
    <th:block layout:fragment="sidemenubar" th:include="@{/fragments/sidemenubar}"></th:block>
    <dialog>
        <div class="modal_header">
            <p>2024.05.05 이눅스님의 소비내역</p>
            <button class="close_btn">
                <img class="close_image" th:src="@{/img/common/closebtn.png}" alt="close_button" />
            </button>
        </div>

        <div class="modal_box scrollBar">
            <div class="main">
                <div class="main_box price">
                    <p class="title">총 지출금액</p>
                    <div class="content">10,000원</div>
                </div>
                <div class="main_box cardinfo">
                    <p class="title">결제 횟수</p>
                    <div class="content">5회</div>
                </div>
            </div>
            <div class="memo_box">
                <p class="title">메모</p>
                <input class="content memo_content" type="text" value=""/>
            </div>
            <div class="map_box">
                <p class="title">오늘의 소비지도</p>
                <div id="map"></div>
            </div>

            <div class="expense_list">
                <div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div>
                <div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div>
                <div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div><div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div><div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div><div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div><div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div><div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div><div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div><div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div><div class="expense_item">
                    <p class="expense_price">-5,000원</p>
                    <p class="expense_place">다이소 혜화역점</p>
                    <p class="expense_date_card">2024-05-05 13:04 하나카드</p>
                </div>
            </div>
        </div>
        <button class="modal_save">
            <img class="saveimage" th:src="@{/img/history/save.png}" alt="save" >
            저장
        </button>
    </dialog>

    <div class="container">
        <div class="calendar-container">
            <div class="calendar-header">
                <div class="left_section">
                    <button id="prevBtn"><img th:src="@{/img/history/LeftVector.png}" alt="leftvector" /></button>
                    <h2 id="currentMonth"></h2>
                    <button id="nextBtn"><img th:src="@{/img/history/RightVector.png}" alt="rightvector" /></button>
                </div>
                <div class="right_section">
                    <select class="categories" name="categories" >
                        <option disabled selected>소비 카테고리 선택</option>
                        <option value="restaurant">음식점</option>
                        <option value="conveniencestore">편의점</option>
                        <option value="gasstation">주유소</option>
                        <option value="academy">학원</option>
                        <option value="culturallife">문화생활</option>
                        <option value="cafe">카페</option>
                        <option value="hospital">병원</option>
                        <option value="largesupermarket">대형마트</option>
                    </select>
                    <button class="update_btn">
                        <img th:src="@{/img/history/update.png}" alt="update" >
                        <p>내역 업데이트</p>
                    </button>
                </div>
            </div>
            <div class="calendar-days">
                <div class="day">일요일</div>
                <div class="day">월요일</div>
                <div class="day">화요일</div>
                <div class="day">수요일</div>
                <div class="day">목요일</div>
                <div class="day">금요일</div>
                <div class="day">토요일</div>
            </div>
            <div class="calendar-wrapper">
                <div class="calendar-borderU"></div>
                <div class="calendar-borderR"></div>
                <div class="calendar-borderD"></div>
                <div class="calendar-borderL"></div>
                <div class="calendar-dates" id="calendarDates"></div>
            </div>
        </div>
    </div>
    </body>
</html>`