<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    <th:block layout:fragment="head">
        <link th:href="@{/css/login.css}" rel="stylesheet" />
        <link th:href="@{/css/common.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/js/login.js}" defer></script>
    </th:block>
    <body>
    <div class="background"></div>
    <div class="container">
        <div class="content">
            <!-- HEADER -->
            <header>
                <h2>로그인</h2>
            </header>

            <!-- INPUT -->
            <section>
                <div class="form-input-date-picker-default">
                    <div class="start-date"> 아이디 </div>
                    <input class="box" id="signin-id" type="text" placeholder="아이디 입력(6~20자)"/>
                </div>

                <div class="form-input-date-picker-default">
                    <div class="start-date"> 비밀번호 </div>
                    <input class="box" id="signin-pw" type="password" placeholder="비밀번호 입력 (문자, 숫자, 특수문자 포함 8~20자)"/>
                </div>

            </section>
            <button id="signin">로그인</button>
            <div id="link-menu">
                <a href="javascript:void(0)">비밀번호 찾기 </a>
                <a href="/signup">회원가입 </a>
            </div>

            <div class="snsbox">
                <img src="/img/login/Line%201.svg" class="left-image">
                <div class="sns">SNS 계정으로 로그인</div>
                <img src="/img/login/Line%201.svg" class="right-image">
            </div>
            <img class="snslogin_image" src="/img/login/snslogin.png">
        </div>
    </div>
    </body>
</html>